* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f2f2f2;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 90%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(201, 22, 120, 0.2) 0px 7px 29px 0px;
	font-size: 18px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.formulario .btn {
	margin-top: 30px;
	margin-left: 44%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	border: none;
	background: rgb(133, 12, 113);
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #3e14b2;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
.enlace {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	font-size: 35px;
	color: rgb(133, 12, 113);
}