* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f2f2f2;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	max-width: 100%;
	width: 400px;
	margin: 80px auto;
}

.formulario input[type='text'] {
	padding: 20px;
	border: none;
	background: #fff;
	width: 60%;
	margin-left: 20%;
	border-radius: 5px;
	box-shadow: rgba(201, 22, 120, 0.2) 0px 7px 29px 0px;
	font-size: 18px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.formulario .btn {
	margin-top: 30px;
	margin-left: 40%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	border: none;
	background: #D11149;
	color: #fff;
	cursor: pointer;
	padding: 20px;
	font-size: 20px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}

.formulario .btn:hover {
	background: #3e14b2;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 4px 0;
	margin-top: 50px;
}
.enlace {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding-top: 30px;
	margin-top: 5px;
	font-size: 25px;
	color:#4056F4;
}

.boton {
	border: none;
	background:#D11149;
	color: #fff;
	cursor: pointer;
	padding: 20px;
	margin-top: 3%;
	margin-bottom: 50px;
	margin-left: 42%;	
	font-size: 20px;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;
}
.boton:hover {
	background: #3e14b2;
}
.title1 {
	color: black;
	text-decoration: underline;
	padding: 5px;
	margin-top: -1%;
	font-size: 25px;
}
.title2 {
	color: black;
	text-decoration: underline;
	font-size: 25px;
	padding: 5px;
}
.tm {
	font-size: 25px;
	margin-top: -40px;
	display: flex;
	justify-content: end;
	padding-right: 10px;
	color: #2F9C95;
	font-family: "Dancing Script", cursive;
}